@page "/logger"
@using LoggerApp.Exceptions
@rendermode InteractiveServer

<div class="card">
    <div class="card-header text-center">Logs From Database</div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <button class="btn btn-danger mx-2" @onclick="throwDomainException">DomainException</button>
        <button class="btn btn-danger mx-2" @onclick="throwAppException">AppException</button>
        <button class="btn btn-danger mx-2" @onclick="throwDataBaseException">DataBaseException</button>
        <button class="btn btn-danger mx-2" @onclick="throwApiException">ApiException</button>
    </div>
</div>

@code {

    void throwDomainException()
    {
        throw new DomainException("DomainException: Business rule violated.");
    }

    void throwAppException()
    {
        throw new AppException("AppException: Application processing failed.");
    }

    void throwDataBaseException()
    {
        throw new DataBaseException("DataBaseException: Database operation failed.");
    }

    void throwApiException()
    {
        throw new ApiException("ApiException: External API call failed.");
    }
}